<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear Admin,</p><br>
    <p>
      One of the website visitor has sent you message with following details:<br>
    </p>
    <p>
      Full Name       :  <%= @name %><br>
	  Subject         :  <%= @subject %><br>
	  Email Address   :  <%= @email %><br>
	  Message         :  <%= @message %><br>
    </p>
    <p>Thanks You!</p>
  </body>
</html>
