<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear Admin,</p><br>
    <p>
      I would like to invest in the <%=  @investment_opportunity.company_name %>. Please contact me at this email address to follow up : <br>
    </p>
    <p>
      Name            :  <%= @investor.first_name %> <%= @investor.last_name %><br>
	  Email Address   :  <%= @investor.email %><br>
    </p>
    <p>Regards, <br>
       Team - EMF
    </p>
  </body>
</html>

